{
  "printWidth": 120,
  "tabWidth": 3,
  "useTabs": false,
  "semi": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}
