@import url(http://fonts.googleapis.com/css?family=Istok+Web&subset=latin,cyrillic-ext,latin-ext,cyrillic);

* {
    margin: 0 auto;
    padding: 0 auto;
    outline: 0;
}

html {
    /* background: #fff url("/static/img/bg.png"); */
    background: #0BE093;
}

body {
    color: #555;
    font: 11px/1.42 Tahoma, Arial, Helvetica, sans-serif;
    cursor: default
}

.ctr {
    clear: both;
}

a {
    color: #555555;
    text-decoration: none;
}

a:hover {
    color: #424242;
    text-decoration: underline;
}

input.searchInput {
    width: 370px;
    height: 55px;
    border: 0;
    padding: 0 10px;
    margin: 13px 7px 13px 13px;
    color: #707070;
    font-family: 'Istok Web', sans-serif;
    font-size: 18px;
    background: no-repeat url("/static/img/input.png");
}

input.searchButton {
    width: 111px;
    height: 56px;
    padding: 0;
    margin: 0;
    border: 0;
    color: #252d17;
    font-family: 'Istok Web', sans-serif;
    font-size: 16px;
    background: no-repeat url("/static/img/addemail.png");
    cursor: pointer;
}

.fillDiv {
    padding-top: 50px;
}

.app-location {
    width: 68%;
    height: auto;
    text-align: center;
    background: #323542;
}

.nav {
    padding-top: 10px;
    font-size: 20px;
    color: #fff;
    float: initial;
}

.nav li {
    display: inline;
    list-style-type: none;
    color: #fff;
    margin: 0px 8px;
}

.nav a:link, a:visited {
    color: #0BE093;
}

.nav a:hover {
    /*color: #FF6600;*/
    color: #FFF;
}

.searchDiv {
    padding-top: 50px;
    zoom: 0.6;
}

.searchDiv h3 {
    color: #fff;
    font-size: 26px;
}

/* 奇数行 */
table tr:nth-child(odd) {

}

/* 偶数行 */
table tr:nth-child(even) {
    /*background: #35454f;*/
}

.resultTable td {
    width: 233px;
}

.resultTableDiv {
    padding-top: 0px;
    padding-bottom: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}

.resultTableDiv h2 {
    color: red;
}

.resultTable {
}

.resultTable th {
    font-size: 16px;
}

.resultTable tr {
    height: 36px;
    color: #fff;
}

.copy-right {
    padding: 3em 1em;
}

.copy-right p {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}

.copy-right p a {
    color: #323542;
}

.copy-right p a:hover {
    text-decoration: underline;
}

/*-----start-responsive-design------*/
@media (max-width: 1440px) {
    .app-location {
        width: 30%;
    }

    .app-location input[type="text"], .app-location input[type="password"] {
        width: 82.2%;
    }
}

@media (max-width: 1366px) {
    .app-location {
        width: 34%;
    }

    .app-location input[type="text"], .app-location input[type="password"] {
        width: 82.7%;
    }

    .line span {
        position: absolute;
        top: 10%;
        left: 39%;
        background: #5b5c61;
        height: 1px;
        width: 20%;
    }

    body h1 {
        font-size: 2.6em;
    }
}

@media (max-width: 1280px) {
    .app-location {
        width: 37%;
    }

}

@media (max-width: 1024px) {
    .app-location {
        width: 47%;
    }
}

@media (max-width: 768px) {
    body h1 {
        font-size: 2.4em;
    }

    .location img {
        margin: 2em 0;
        width: 59%;
    }

    .app-location h2 {
        padding: 0.8em 0;
        font-size: 1.6em;
    }

    .line span {
        top: 10%;
        left: 39%;
        height: 1px;
        width: 20%;
    }

    .app-location {
        width: 63%;
    }

    .copy-right {
        padding: 1em 1em;
    }
}

@media (max-width: 640px) {
    body h1 {
        font-size: 2.1em;
    }

    .app-location {
        width: 69%;
    }

    .app-location input[type="text"], .app-location input[type="password"] {
        width: 81%;
    }
}

@media (max-width: 480px) {

    .app-location {
        width: 90%;
        padding: 2em 1em 1em 1em;
    }

    .copy-right p {
        font-size: 0.9em;
    }

    .new h3 a, .new h4 a {
        font-size: 0.9em;
    }

    form {
        width: 82%;
        margin: 0 auto;
    }

    .app-location input[type="text"], .app-location input[type="password"] {
        width: 76.8%;
        margin: 0.4em 0;
    }
}

@media (max-width: 320px) {
    .app-location {
        width: 87%;
        padding: 2em 1em 1em 1em;
    }

    body h1 {
        font-size: 1.5em;
    }

    .copy-right p {
        font-size: 0.85em;
        line-height: 1.7em;
    }

    .app-location input[type="text"], .app-location input[type="password"] {
        width: 68%;
        padding: 1em 1em 1em 4em;
        font-size: 15px;
        background: url("/static/img/icons.png") no-repeat 14px 17px #474a55;
        background-size: 11%;
    }

    .app-location input[type="password"] {
        background: url("/static/img/icons.png") no-repeat 14px -41px #474a55;
        background-size: 11%;
    }

    .app-location h2 {
        padding: 0.5em 0;
        font-size: 1.2em;
    }

    .new h3 a, .new h4 a {
        font-size: 0.75em;
    }

    .new {
        margin: 2em 0 1em 0;
    }

    .line span {
        top: 10%;
        left: 35%;
        height: 1px;
        width: 29%;
    }

    .submit {
        margin: 0.5em 0;
    }

    .app-location input[type="submit"] {
        font-size: 18px;
        padding: 11px 11px;
    }

    form {
        width: 87%;
        margin: 0 auto;
    }
}
