{
   "printWidth": 80,
   "tabWidth": 3,
   "useTabs": false,
   "semi": false,
   "singleQuote": false,
   "disableLanguages": [],
   "jsxSingleQuote": false,
   "bracketSpacing": true,
   "bracketSameLine": true,
   "arrowParens": "always",
   "endOfLine": "lf"
}
