{
   "printWidth": 120,
   "tabWidth": 3,
   "useTabs": false,
   "semi": false,
   "singleQuote": false,
   "quoteProps": "as-needed",
   "bracketSpacing": true,
   "bracketSameLine": true,
   "arrowParens": "always",
   "vueIndentScriptAndStyle": false,
   "endOfLine": "lf",
   "singleAttributePerLine": false,
   "disableLanguages": [],
   "jsxSingleQuote": false
}
